# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Archives
*.zip

# Data artifacts / logs
*.log

# Model artifacts (KEEP if you want model included)
# models/*.joblib
